.user-label {
  font-size: 20px;
}

.username {
  font-size: 48px;
}

.switch-button {
  display: block;
  width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 120px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CCCCCC;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

body {
  width: 300px;
  padding: 10px 20px;
  margin: 0;
  background: #888888;
}

.content-icon {
  width: 48px;
  height: 48px;
  margin: auto 20px auto 0;
}

.content {
  display: flex;
}

input:checked + .slider {
  background-color: #EEEE33;
}

input:focus + .slider {
  box-shadow: 0 0 1px #EEEE33;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
